@model DatabaseDemo.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    
    
    @Html.EditorForModel(Model)
</div>
<p>
    @Html.ActionLink("RegisterCourse", "RegisterCourse", new { id = Model.Id }) |
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
